.demo {
  padding: 2rem;
}

.demo h1 {
  font-size: 1.2rem;
}

.demo > h1 {
  padding-bottom: .5rem;
  border-bottom: 1px solid #ededed;
}

.demo > h1 a {
  color: #4078c0;
  text-decoration: none;
}

.demo > h1:hover a {
  text-decoration: underline;
}

.sticker {
  width: 50px;
  cursor: pointer;
}

.button-shop,
.button-purchase {
  cursor: pointer;
}
